
Chimera/Chimera/obj/Debug/Chimera.pdb
Chimera/Chimera/bin/Debug/Chimera.exe
Chimera/Chimera/bin/Debug/MultiMonitorManager.exe
Chimera/Chimera/bin/Debug/MultiMonitorManager.exe.config
Chimera/Chimera/bin/Debug/MultiMonitorManager.pdb
Chimera/Chimera/bin/Debug/MultiMonitorManager.vshost.exe
Chimera/Chimera/bin/Debug/MultiMonitorManager.vshost.exe.config
Chimera/Chimera/obj/Debug/MultiMonitorManager.exe
