
Chimera/Chimera/obj/Debug/Chimera.pdb
Chimera/Chimera/bin/Debug/Chimera.exe
Chimera/Chimera/bin/Debug/MultiMonitorManager.exe
Chimera/Chimera/bin/Debug/MultiMonitorManager.exe.config
Chimera/Chimera/bin/Debug/MultiMonitorManager.pdb
Chimera/Chimera/bin/Debug/MultiMonitorManager.vshost.exe
Chimera/Chimera/bin/Debug/MultiMonitorManager.vshost.exe.config
Chimera/Chimera/obj/Debug/MultiMonitorManager.exe
Chimera/Chimera/obj/Debug/Chimera.csproj.FileListAbsolute.txt
Chimera/Chimera/obj/Debug/Chimera.csproj.GenerateResource.Cache
Chimera/Chimera/obj/Debug/Chimera.csprojResolveAssemblyReference.cache
Chimera/Chimera/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Chimera/Chimera/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Chimera/Chimera/obj/Debug/MultiMonitorManager.pdb
Chimera/Chimera/bin/Debug/wallpaper.jpg
Chimera/.vs/Chimera/v14/.suo
Chimera/Chimera/bin/Debug/DmtWallpaper.bmp
